:root{
    --standardblue: #00488b;
    --light: #d9dcd6;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--light);
}
header { 
    display: flex;
    padding: 20px;
    font-family: "Garamond";
    background-color: var(--standardblue);
    color: var(--light);
}
h1 {
    display: inline-block;
    font-size: 48px;
}
h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 25px;
}
header ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header ul li {
    display: inline-block;
    margin-left: 25px;
}
header a {
    color: var(--light);
    text-decoration: none;
}
p {
    font-size: 20px;
}
article ul {
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
article ul li {
    display: inline-block;
    padding-right: 50px;
}
/*Formats box of blocks of articles */
.content {
    width: 75%;
    display: inline-block;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
/*Formats aside box */
.side-titles {
    padding: 20px;
    clear: both;
    float: left;
    width: 12%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    
}
.aboutme-header, .work-header {
    display: flex;
    border-right: 5px solid var(--standardblue);
    margin-bottom: 20px;
    padding-top: 40px;
    height: 200px;
    color: black;
}
.contactme-header, .resume-header{
    display: flex;
    border-right: 5px solid var(--standardblue);
    margin-bottom: 20px;
    height: 50px;
    color: black;
}
/*Formats the three main articles */
.abtme, .wrk {
    display: flex;
    margin-bottom: 20px;
    padding: 40px 40px 40px 10px;
    height: 200px;
    color: black;
}
.cntct, .resme {
    margin-bottom: 20px;
    height: 50px;
    padding-top: 35px;
    padding-left: 10px;
    color: black;
}
.profile-pic{
    display:flex;
    min-width: 100px;
    justify-content: right;
}