/*Set variables so that the webpage remains uniform*/
:root{
    --standardBlue: #00488b;
    --standardGreen: #69b169;
    --light: #d9dcd6;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--light);
}
header { 
    padding: 20px;
    font-family: 'Garamond';
    background-color: var(--standardBlue);
    color: var(--light);
}
h1 {
    display: inline-block;
    font-size: 48px;
}
h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
}
h3{
    font-size: 25px;
    padding: 10px;
    background-color: var(--standardGreen);  
}
header ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Garamond';
    font-size: 20px;
}
header ul li {
    display: inline-block;
    margin-left: 25px;
}
header a {
    color: var(--light);
    text-decoration: none;
}
p {
    font-size: 20px;
}

/*Formats box of blocks of articles */
.content {
    width: 75%;
    display: inline-block;
    margin-right: 20px;
    font-family: 'Garamond';
}
/*Formats aside box */
.side-titles {
    padding: 20px;
    clear: both;
    float: left;
    width: 12%;
    height: 100%;
    font-family: 'Garamond';
    
}
/*Formats each larger header to match larger boxes*/

/*Formats the shared aspects of the four main articles*/
.abtme, .wrk, .cntct,.resme{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: black;
    height: fit-content;
}
.abtme, .wrk{
    padding: 40px 40px 40px 10px;
}
.abtme {
    flex-direction: column;
    align-items: flex-end;
    height: 200px;
}
.wrk{
    align-content: center;
    justify-content: space-between;
}
.wrk p {
    background-color: var(--standardGreen);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}
.cntct, .resme {
    height: fit-content;
    padding-top: 35px;
    padding-left: 10px;
}
.cntct ul {
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Garamond';
    font-size: 20px;
}
.cntct ul li {
    display: inline-block;
    padding-right: 50px;
}
.aboutme-header, .work-header, .contactme-header, .resume-header {
    display:flex;
    border-right: 5px solid var(--standardBlue);
    margin-bottom: 20px;
    padding-top: 40px;
    height: 200px;
    color: black;
}
.work-header{
    height: 825px;
}
 /*Formats each smaller header to match smaller boxes*/
.contactme-header, .resume-header{
    padding-top: 0px;
    height: 50px;
}
/*Formats profile picture*/
.profile-pic{
    padding: 20px;
    width: 150px;
}
/*Formats the shared components of all the images in the Work section*/
.calculator-pic, .bread-pic, .test-pic{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:10px;
    border: 5px solid var(--standardGreen);
    filter:grayscale(75%)
}
/*Formats non shared aspects of images in the Work section*/
.test-pic{
    background-image: url("../images/calculations.jpg") ;
    height: 500px;
    width:100%;
}
.calculator-pic, .bread-pic{
    height:200px;
    width:48%;
}
.calculator-pic {
    background-image: url("../images/calculations.jpg");
}
.bread-pic{
    background-image: url("../images/bread.jpg");
}
.calculator-pic:hover, .bread-pic:hover, .test-pic:hover{
    filter:none;
}